.recipe-pic {
    height: auto;
    width: 400px;
    border: 2px solid black;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}
body {
    text-align: center;
}
body ul {
    list-style-type: none;
}
.recipe {
    background-color: aqua;
    border: 2px solid black;
    margin: 1%;
}
.description {
    border: 2px solid black;
    margin: 8px;
    padding: 10px
}
.ingredients {
    border: 2px solid black;
    margin: 8px;
    padding: 10px
}
.steps {
    border: 2px solid black;
    margin: 8px;
    padding: 10px
}